@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin.woff2'), url('../fonts/Raleway-Thin.woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.woff2'), url('../fonts/Raleway-Light.woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2'),
    url('../fonts/Raleway-Regular.woff');
  font-weight: 400;
  font-style: normal;
}
